<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">EDIT YOUR POST</h1>
  </div>
  <div class="container">
    <form method="post" action="/listings/<%=@listing.id%>">
      <input type="hidden" id="hidden" name="_method" value="patch">
      <br>
      <label>Title:</label>
      <input type="text" name="title" value="<%=@listing.title %>">
      <br>
      <label>Description:</label>
      <textarea name="description"><%= @listing.description %></textarea>
      <br>
      <input type="submit" class="button button1" value="Submit Changes">
    </form>
  </div>
