<div class="container">
  <br>
  <div class="panel panel-default">
    <div class="panel-heading text-center">
      <h3 class="panel-title">Edit Your Post</h3>
    </div>
    <BR>
    <div class="panel-body">
      <form action="/listings/<%=@listing.id%>" method="POST">
        <input type="hidden" id="hidden" name="_method" value="patch">
        <div class="form-group">
          <label>Title: </label>
          <input type="text" name="title" id="title" class="form-control input-sm" value="<%=@listing.title%>" required>
        </div>
        <div class="form-group">
          <label>Description: </label>
          <textarea name="description" class="form-control" id="description" rows="3" required><%=@listing.description%></textarea>
        </div>
        <input type="submit" value="Edit" class="btn btn-info btn-block">
      </form>
    </div>
  </div>
</div>



