 <div class="content">
 
      <h3>Current Listings:</h3><br>
      <% if Listing.all.empty?%>
      <p>No Listings! Create One!</p>
      <%end%>

      <table style="width:100%">
      <tr>
    <th>Date</th>
    <th>Title</th>
    <th>User</th>
  </tr>
      <%Listing.all.each do |l|%>
      <tr>
      <td><%=l.created_at.strftime("%m/%d/%y")%></td>
      <td><a href="/listings/<%=l.id%>"><%=l.title%></a></td>
      <td><%=User.all.find_by_id(l.user_id).username%></td>
      <tr>

      <%end%>
      </table>
      <br>
    </div>

  
      