<center><div class="container">
<form action="/listings/new" method="post">
<label>Title: </label><input type="text" name="title"><br>
<label>Description: </label><input type="text" name="description"><br>


<input type="submit" value="Submit">

</form>
</div><center>