 <div class="center">
<form action="/listings/new" method="post">
<label>Title: </label><input type="text" name="title"><br>
<label>Description: </label><textarea name="description"></textarea><br>

<input type="submit" value="Submit">

</form>
</div>