<h2><%=@listing.title%></h2>


 <div class="center">
      <br>
     
<%if @listing.items.empty?%>
<h3>List is empty, add an item!</h3>
<%if logged_in? && current_user%>
<button class="button button1">Add Item</button>
<%end%>
<%else%>

      <table style="width:100%">
      <tr>
    <th>Item</th>
    <th>Category</th>
    <th>Price</th>
  </tr>
  
      <%@listing.items.each do |i|%>
      
        <tr><td><%=i.name%></td>
             <td><%=i.category%></td>
            <td>$<%=sprintf("%.2f", i.price)%></td></tr>

      <%end%>

      </table>
      <%end%>
<BR>

      <%if @listing.user_id == session[:user_id]%>
      <button class="button button1">Add Item</button>
      <button class="button button2">Edit Listing</button>
      <button class="button button1">Delete Listing</button>
      <%end%>
    </div>