<h2 align="center">Are you sure you want to delete?</h2>

 <form method="POST" action="/users/<%=current_user.id%>" align="center">
 <input type="hidden" id="hidden" name="_method" value="delete">
                <button type="submit" class="button button3">DELETE MY ACCOUNT</button></form></td>