<h2>Hello, <%=current_user.username.capitalize%></h2>

 <div class="content">
 
      <h3>Current Listings:</h3><br>
      <% if current_user.listings.empty?%>
      <p>No Listings! Create One!</p>
      <%end%>
      <%current_user.listings.each do |l|%>
      <a href="/listings/<%=l.id%>"><p><%=l.title%></p></a>
      <%end%>
      <br>
     <a href="/listings/new"><button>New Listing</button></a>
    </div>