<h2>Edit Your Item!</h2>
<div class="center">
<form method="post" action="/items/<%=@item.id%>">
    <input type="hidden" id="hidden" name="_method" value="patch">
        <br>
        <label>Name:</label>
        <input type="text" name="name" value="<%=@item.name %>">
        <br>
        <label>Category:</label>
        <textarea name="category"><%= @item.category %></textarea>
        <br>
        <label>Price:</label>
        <input type="number" name="description" value="<%= @item.price %>">
        <br>
        <input type="submit" class="button button1" value="Submit Changes">
</form>
</div>