<center>
  <br>
  <div class="container">
    <h1>New Item:</h1>
    <form class="form-group" action="/items/new/<%=@listing.id%>" method="post">
      <input type="text" name="name" placeholder="Name" class="form-control"><br>
      <input type="text" name="category" class="form-control" placeholder="Category"><br>
      <input type="number" name="price" class="form-control" placeholder="Price"><br>
      <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <center>
