<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <br>
    <h1 display-3>Social Distancing Garage Sale App</h1>

      <p class="lead">Sell all your stuff without breaking the law!</p>
      <a href="/users/signup"><button class="btn btn-primary btn-lg">Sign Up</button></a>
      <a href="/users/login"><button class="btn btn-secondary btn-lg">Login</button></a>

  </div>
</div>